Repository kookmin-sw/capstone-2023-11, pull requests merged in 2023-04, with the labels that each got.

#58 [Backend/chore] foodRecognition -> foodDetection명칭 변경, API주소 프로퍼티에 추가하여 보안강화
  backend/server/src/main/java/capstone/server/domain/food/controller/FoodController.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodService.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
Labels: 🧹 chore, backend

#61 [Backend/deleteMedicine] 약 삭제 기능 구현
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineService.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
Labels: fix, backend

#65 [chore] Swagger에서 JWT 사용 가능하도록 수정
  backend/server/src/main/java/capstone/server/config/SwaggerConfig.java
Labels: 🧹 chore, backend

#68 [Frontend/SeniorExercise] 시니어 운동 입력 화면 뷰 및 기능 구현
  web_frontend/package-lock.json
  web_frontend/package.json
  web_frontend/src/assets/images/img_esc.png
  web_frontend/src/components/seniorExercise/ExerciseList.tsx
  web_frontend/src/components/seniorExercise/ExercisePopUp.tsx
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorExercisePage.tsx
  web_frontend/yarn.lock
Labels: ✨ feat, 💅 design, frontend

#70 [Backend/workout] 운동 서비스 로직 구현
  backend/server/src/main/java/capstone/server/domain/login/exception/ExceptionManager.java
  backend/server/src/main/java/capstone/server/domain/workout/controller/WorkOutController.java
  backend/server/src/main/java/capstone/server/domain/workout/dto/GetAllWorkOutCategoryResponse.java
  backend/server/src/main/java/capstone/server/domain/workout/dto/RegisterWorkOutRequest.java
  backend/server/src/main/java/capstone/server/domain/workout/dto/WorkOutCategoryResponse.java
  backend/server/src/main/java/capstone/server/domain/workout/dto/WorkOutRecordResponse.java
  backend/server/src/main/java/capstone/server/domain/workout/enums/WorkOutCategoryEnum.java
  backend/server/src/main/java/capstone/server/domain/workout/repository/WorkOutCategoryRepository.java
  backend/server/src/main/java/capstone/server/domain/workout/repository/WorkOutCategoryUserWardHasRepository.java
  backend/server/src/main/java/capstone/server/domain/workout/service/WorkOutService.java
  backend/server/src/main/java/capstone/server/domain/workout/service/WorkOutServiceImpl.java
  backend/server/src/main/java/capstone/server/entity/WorkOutCategory.java
  backend/server/src/main/java/capstone/server/entity/WorkOutUserWardHas.java
  backend/server/src/main/java/capstone/server/global/WorkOutCategoryCommandLineRunner.java
  backend/server/src/main/java/capstone/server/global/dto/DefaultResponse.java
Labels: ✨ feat, backend

#72 [Backend/Food] 음식 등록 기능, GET 기능 구현
  backend/server/src/main/java/capstone/server/domain/food/controller/FoodController.java
  backend/server/src/main/java/capstone/server/domain/food/dto/FoodInfo.java
  backend/server/src/main/java/capstone/server/domain/food/dto/GetFoodInfoResponseDto.java
  backend/server/src/main/java/capstone/server/domain/food/dto/MealInfo.java
  backend/server/src/main/java/capstone/server/domain/food/dto/RegisterFoodDto.java
  backend/server/src/main/java/capstone/server/domain/food/repository/FoodRepository.java
  backend/server/src/main/java/capstone/server/domain/food/repository/MealRepository.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodService.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/entity/Food.java
  backend/server/src/main/java/capstone/server/entity/Meal.java
Labels: ✨ feat, backend

#73 [backend/S3, Food] 음식기능 수정과 S3 파일 업로드 유틸 구현
  backend/server/build.gradle
  backend/server/src/main/java/capstone/server/config/S3Config.java
  backend/server/src/main/java/capstone/server/domain/food/controller/FoodController.java
  backend/server/src/main/java/capstone/server/domain/food/dto/MealInfo.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodService.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/image/repository/ImageRepository.java
  backend/server/src/main/java/capstone/server/entity/Image.java
  backend/server/src/main/java/capstone/server/entity/Meal.java
  backend/server/src/main/java/capstone/server/utils/S3Util.java
Labels: ✨ feat, backend

#78 [Backend/workout] 레크레이션 이름 수정
  backend/server/src/main/java/capstone/server/domain/workout/enums/WorkOutCategoryEnum.java
Labels: fix, backend

#80 [Backend/workout] 운동력 삭제 기능 구현
  backend/server/src/main/java/capstone/server/domain/workout/controller/WorkOutController.java
  backend/server/src/main/java/capstone/server/domain/workout/service/WorkOutService.java
  backend/server/src/main/java/capstone/server/domain/workout/service/WorkOutServiceImpl.java
Labels: ✨ feat, backend

#81 [Backend/workout] 운동력 반환시 hour 정보 추가
  backend/server/src/main/java/capstone/server/domain/workout/dto/WorkOutRecordResponse.java
  backend/server/src/main/java/capstone/server/entity/WorkOutUserWardHas.java
Labels: fix, backend

#83 [Backend/Medicine] 약 정보 수정기능 구현
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/domain/medicine/dto/ModifyMedicineDto.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineService.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
  backend/server/src/main/java/capstone/server/utils/BaseTimeEntity.java
Labels: ✨ feat, backend

#84 [Frontend/SeniorExercise] 시니어 운동 입력 화면 뷰 및 기능 구현
  web_frontend/src/assets/images/exerciseImg/img_aerobics.png
  web_frontend/src/assets/images/exerciseImg/img_badminton.png
  web_frontend/src/assets/images/exerciseImg/img_baseball.png
  web_frontend/src/assets/images/exerciseImg/img_bicycling.png
  web_frontend/src/assets/images/exerciseImg/img_boxing.png
  web_frontend/src/assets/images/exerciseImg/img_dance sports.png
  web_frontend/src/assets/images/exerciseImg/img_gateball.png
  web_frontend/src/assets/images/exerciseImg/img_golf.png
  web_frontend/src/assets/images/exerciseImg/img_hiking.png
  web_frontend/src/assets/images/exerciseImg/img_pilates.png
  web_frontend/src/assets/images/exerciseImg/img_recreation.png
  web_frontend/src/assets/images/exerciseImg/img_running.png
  web_frontend/src/assets/images/exerciseImg/img_squash.png
  web_frontend/src/assets/images/exerciseImg/img_stretching.png
  web_frontend/src/assets/images/exerciseImg/img_surfing.png
  web_frontend/src/assets/images/exerciseImg/img_tennis.png
  web_frontend/src/assets/images/exerciseImg/img_walking.png
  web_frontend/src/assets/images/exerciseImg/img_weightlifting.png
  web_frontend/src/assets/images/exerciseImg/img_yoga.png
  web_frontend/src/components/seniorExercise/ExerciseList.tsx
  web_frontend/src/components/seniorExercise/ExercisePopUp.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
Labels: ✨ feat, fix, 💅 design, frontend

#89 [Backend/fix] 오타수정 및 남은 복용일수 안넘어가던 버그 수정
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
Labels: backend, bug

#90 [Backend/Food] 먹은 음식 보내줄때, 월별로 조회가능 하게 수정, 에러리스폰스 리팩토링
  backend/server/src/main/java/capstone/server/domain/food/controller/FoodController.java
  backend/server/src/main/java/capstone/server/domain/food/repository/MealRepository.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodService.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodServiceImpl.java
Labels: fix, backend

#93 [Backend/SeniorMain] 노인 메인페이지에 필요한 API작성
  backend/server/src/main/java/capstone/server/domain/food/repository/MealRepository.java
  backend/server/src/main/java/capstone/server/domain/user/controller/UserWardController.java
  backend/server/src/main/java/capstone/server/domain/user/dto/GetUserWardMainInfoResponseDto.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/workout/repository/WorkOutCategoryUserWardHasRepository.java
Labels: ✨ feat, backend

#96 [Backend/Medicine] 약정보 스트링 글자수 3000자로 확장
  backend/server/src/main/java/capstone/server/entity/Medicine.java
Labels: fix, backend

#98 [Backend/Calendar] 캘린더에 사용할 데이터들의 날짜 API작성
  backend/server/src/main/java/capstone/server/domain/calendar/controller/CalendarController.java
  backend/server/src/main/java/capstone/server/domain/calendar/dto/GetRecordsDateResponseDto.java
  backend/server/src/main/java/capstone/server/domain/calendar/service/CalendarService.java
  backend/server/src/main/java/capstone/server/domain/calendar/service/CalendarServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/food/repository/MealRepository.java
  backend/server/src/main/java/capstone/server/domain/workout/repository/WorkOutCategoryUserWardHasRepository.java
Labels: ✨ feat, backend

#99 [Frontend/Calendar] 데이터를 보여주는 캘린더 뷰, 기능 구현
  web_frontend/package.json
  web_frontend/src/components/common/SeniorCalendar.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/yarn.lock
Labels: ✨ feat, 💅 design, frontend

#97 [Frontend/SeniorPhotoMeal] 사진을 통한 음식 감별 및 영양소 분석 뷰, 기능 구현
  web_frontend/package.json
  web_frontend/src/assets/icons/icn_blueStar.svg
  web_frontend/src/assets/icons/icn_checked.svg
  web_frontend/src/assets/icons/icn_food.svg
  web_frontend/src/assets/icons/icn_photo.svg
  web_frontend/src/assets/icons/index.ts
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/yarn.lock
Labels: ✨ feat, 🎨 style, frontend

#101 [Frontend/SeniorMain] 시니어 메인 화면 뷰 및 기능 구현
  package.json
  web_frontend/.gitignore
  web_frontend/package.json
  web_frontend/src/assets/icons/icon_calendar.png
  web_frontend/src/assets/icons/icon_exercise.png
  web_frontend/src/assets/icons/icon_meal.png
  web_frontend/src/assets/icons/icon_score.png
  web_frontend/src/assets/images/delete.png
  web_frontend/src/assets/images/edit.png
  web_frontend/src/assets/images/img_camera.png
  web_frontend/src/assets/images/pillBillImg.jpeg
  web_frontend/src/assets/images/pillSample.jpg
  web_frontend/src/assets/images/search.png
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/components/SeniorMainPill.tsx
  web_frontend/src/components/seniorPill/PillAddModal.tsx
  web_frontend/src/components/seniorPill/SeniorPillBill.tsx
  web_frontend/src/components/seniorPill/SeniorPillDetail.tsx
  web_frontend/src/components/seniorPill/SeniorPillMain.tsx
  web_frontend/src/components/seniorPill/SeniorPillSelf.tsx
  web_frontend/src/core/api/.keep
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/index.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/tsconfig.json
  web_frontend/yarn.lock
  yarn.lock
Labels: 🗂 asset, 🧹 chore, ✨ feat, 🎨 style, fix, 💅 design, frontend

#107 [Backend/SeniorMain] 메인화면에 유저이름 넘겨주도록 수정
  backend/server/src/main/java/capstone/server/domain/user/dto/GetUserWardMainInfoResponseDto.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: fix, backend

#108 Back/#102
  .gitignore
  backend/server/src/main/java/capstone/server/config/SecurityConfig.java
  backend/server/src/main/java/capstone/server/config/WebConfig.java
Labels: ✨ feat, backend
