Repository kookmin-sw/capstone-2023-11, pull requests merged in 2023-05, with the labels that each got.

#121 [Backend] 실행시에 TimeZone 서울시간으로 하도록 설정
  backend/server/src/main/java/capstone/server/ServerApplication.java
Labels: fix, backend

#122 [Frontend/SeniorSummaryDay] 시니어 일간 입력 데이터 확인 뷰, 기능 구현
  web_frontend/src/assets/icons/icon_before.png
  web_frontend/src/assets/icons/icon_food.png
  web_frontend/src/assets/icons/icon_next.png
  web_frontend/src/assets/icons/icon_nobefore.png
  web_frontend/src/assets/icons/icon_nonext.png
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 💅 design, frontend

#114 [Frontend/SeniorSummary] 알고리즘으로 분석받는 시니어 신체 데이터 뷰, 기능 구현
  web_frontend/src/components/seniorSummary/CalChart.tsx
  web_frontend/src/components/seniorSummary/CalComment.tsx
  web_frontend/src/components/seniorSummary/NutComment.tsx
  web_frontend/src/components/seniorSummary/NutrientChart.tsx
  web_frontend/src/components/seniorSummary/SetDatas.tsx
  web_frontend/src/components/seniorSummary/testData.tsx
  web_frontend/src/constants/CommentTexts.tsx
  web_frontend/src/core/atom.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 💅 design, frontend

#126 [Backend/SeniorSummary] 주간 데이터 요약에 필요한 데이터리스트 API작성
  backend/server/src/main/java/capstone/server/domain/food/repository/MealRepository.java
  backend/server/src/main/java/capstone/server/domain/login/service/JoinServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/medical/dto/MedicalHistoryInfo.java
  backend/server/src/main/java/capstone/server/domain/medical/repository/MedicalHistoryCategoryRepository.java
  backend/server/src/main/java/capstone/server/domain/medical/repository/MedicalHistoryUserWardHasRepository.java
  backend/server/src/main/java/capstone/server/domain/user/controller/UserWardController.java
  backend/server/src/main/java/capstone/server/domain/user/dto/GetWeeklySummaryDto.java
  backend/server/src/main/java/capstone/server/domain/user/dto/WeeklyExerciseRecord.java
  backend/server/src/main/java/capstone/server/domain/user/dto/WeeklyFoodNutrient.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/workout/repository/WorkOutCategoryUserWardHasRepository.java
  backend/server/src/main/java/capstone/server/entity/MedicalHistoryCategory.java
  backend/server/src/main/java/capstone/server/global/MedicalCategoryCommandLineRunner.java
  backend/server/src/main/java/capstone/server/global/WorkOutCategoryCommandLineRunner.java
Labels: ✨ feat, backend

#138 [Devops] 배포자동화 구축
  .github/workflows/gradle.yml
  backend/server/appspec.yml
  backend/server/build.gradle
  backend/server/scripts/start.sh
  backend/server/scripts/stop.sh
Labels: ✨ feat, backend

#140 [fix] push할때만 적용되도록 수정
  .github/workflows/gradle.yml
Labels: fix, backend

#141 [Frontend/SeniorSummary] 알고리즘으로 분석받는 시니어 신체 데이터 뷰, 기능 구현
  web_frontend/src/assets/icons/icon_add.png
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/components/seniorExercise/ExercisePopUp.tsx
  web_frontend/src/components/seniorSummary/CalChart.tsx
  web_frontend/src/components/seniorSummary/CalComment.tsx
  web_frontend/src/components/seniorSummary/ExerciseChart.tsx
  web_frontend/src/components/seniorSummary/ExerciseComment.tsx
  web_frontend/src/components/seniorSummary/NutComment.tsx
  web_frontend/src/components/seniorSummary/NutrientChart.tsx
  web_frontend/src/components/seniorSummary/ScoreChart.tsx
  web_frontend/src/components/seniorSummary/SetDatas.tsx
  web_frontend/src/constants/CommentTexts.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/atom.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, fix, 💅 design, frontend

#111 [FrontEnd/SeniorMainPage] 시니어 메인 페이지 복용하는 약 수정
  package.json
  web_frontend/src/assets/icons/add.png
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/components/SeniorMainNoPill.tsx
  web_frontend/src/components/SeniorMainPill.tsx
  yarn.lock
Labels: 🎨 style, fix, 💅 design, frontend

#117 [Frontend/SeniorPill] 약 관련 페이지 기능 수정 및 디자인 재구현
  web_frontend/src/assets/images/pillPhoto.png
  web_frontend/src/components/seniorPill/PillAddModal.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillDetailPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
Labels: 🧹 chore, ✨ feat, 🎨 style, fix, frontend

#125 [Frontend/SeniorMealMain] 음식 복용 현황 캘린더 뷰 기능 구현, Routing 정리
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
Labels: 🧹 chore, ✨ feat, 🎨 style, frontend

#145 [Backend/Summary] 일간 보고서 API 음식 데이터 리스트 추가
  backend/server/src/main/java/capstone/server/domain/user/dto/FoodInfo.java
  backend/server/src/main/java/capstone/server/domain/user/dto/MealInfo.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: fix, backend

#146 [Frontend/SeniorSummaryDay] 시니어 일간 데이터 부가 기능 구현
  web_frontend/src/components/seniorSummary/FoodDetailPopUp.tsx
  web_frontend/src/core/atom.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
Labels: ✨ feat, 💅 design, frontend

#150 [Backend/SeniorMain] 메인화면 API 데이터 추가
  backend/server/src/main/java/capstone/server/domain/user/dto/GetUserWardMainInfoResponseDto.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: fix, backend

#148 [Frontend/Chore] 버그 수정과 애니메이션 추가
  package.json
  web_frontend/public/index.html
  web_frontend/src/assets/icons/icon_food2.PNG
  web_frontend/src/assets/icons/icon_food3.PNG
  web_frontend/src/assets/icons/icon_food4.PNG
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/components/seniorPill/SeniorMainNoPill.tsx
  web_frontend/src/components/seniorPill/SeniorMainPill.tsx
  web_frontend/src/components/seniorSummary/ScoreChart.tsx
  web_frontend/src/core/atom.tsx
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/LoginPage.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMainPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorMypage.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillDetailPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
  yarn.lock
Labels: 🧹 chore, ✨ feat, fix, 💅 design, frontend

#154 [Frontend/BugFix] 버그 및 디자인 수정
  web_frontend/src/components/seniorPill/PillAddModal.tsx
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
Labels: 🧹 chore, fix, 💅 design, frontend

#156 [Backeend/signup] 회원가입시 이메일 등록하도록 수정
  backend/server/src/main/java/capstone/server/domain/login/dto/GuardianJoinRequest.java
  backend/server/src/main/java/capstone/server/domain/login/dto/WardJoinRequest.java
  backend/server/src/main/java/capstone/server/domain/login/service/JoinServiceImpl.java
  backend/server/src/main/java/capstone/server/entity/UserGuardian.java
  backend/server/src/main/java/capstone/server/entity/UserWard.java
Labels: fix, backend

#157 [Frontend/Join] 회원가입시 이름 추가
  web_frontend/src/core/atom.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
Labels: 🧹 chore, ✨ feat, frontend

#159 [Frontend] 어플리케이션 스플래시뷰 및 이메일 픽스
  web_frontend/src/assets/images/img_logo.jpeg
  web_frontend/src/assets/images/img_splash.jpeg
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/LoginPage.tsx
  web_frontend/src/pages/SplashPage.tsx
  web_frontend/src/styles/global.tsx
Labels: ✨ feat, fix, frontend

#166 [fix] gradle.yml 스크립트에서 resources 폴더 생성 코드 삭제
  .github/workflows/gradle.yml
Labels: ✨ feat, backend

#171 [Backend/Notification] 날짜 파싱, 끼니, 링크 연결
  backend/server/src/main/java/capstone/server/domain/notification/service/NotificationServiceImpl.java
  backend/server/src/main/resources/templates/food-mail.html
Labels: fix, backend

#172 [Backend/GuardianService] 유저 코드를 이용한 API 호출 구현
  backend/server/src/main/java/capstone/server/domain/user/controller/UserGuardianController.java
  backend/server/src/main/java/capstone/server/domain/user/dto/ConnectedWard.java
  backend/server/src/main/java/capstone/server/domain/user/exception/DuplicateUserConnectException.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserGuardianRepository.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserGuardianUserWardRepository.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: ✨ feat, backend

#176 [Backend/SeniorMypage] 시니어 마이페이지 개인정보 수정 api
  backend/server/src/main/java/capstone/server/domain/medical/repository/MedicalHistoryUserWardHasRepository.java
  backend/server/src/main/java/capstone/server/domain/user/controller/UserWardController.java
  backend/server/src/main/java/capstone/server/domain/user/dto/GetUserWardMainInfoResponseDto.java
  backend/server/src/main/java/capstone/server/domain/user/dto/UserWardInfoDto.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: ✨ feat, backend

#177 [Frontend/NavigationBar] 앱 내 네비게이션 바 추가
  web_frontend/src/assets/icons/icon_exercise_off.png
  web_frontend/src/assets/icons/icon_exercise_on.png
  web_frontend/src/assets/icons/icon_food_off.png
  web_frontend/src/assets/icons/icon_food_on.png
  web_frontend/src/assets/icons/icon_home_off.png
  web_frontend/src/assets/icons/icon_home_on.png
  web_frontend/src/assets/icons/icon_pill_off.png
  web_frontend/src/assets/icons/icon_pill_on.png
  web_frontend/src/assets/icons/icon_report_off.png
  web_frontend/src/assets/icons/icon_report_on.png
  web_frontend/src/components/common/BottomNav.tsx
  web_frontend/src/core/atom.tsx
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorMainPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 💅 design, frontend

#180 [Frontend/BugFix] 시니어 버그 수정 및 최적화
  web_frontend/src/components/seniorExercise/ExerciseList.tsx
  web_frontend/src/components/seniorPill/PillAddModal.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorMainPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillDetailPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: 🧹 chore, fix, bug

#184 [Frontend/Animation&Summary] 일간, 주간 헤더 드롭다운 추가 및 컴포넌트 애니메이션 추가
  web_frontend/src/components/common/BackButton.tsx
  web_frontend/src/components/common/BlueButton.tsx
  web_frontend/src/components/common/BottomNav.tsx
  web_frontend/src/components/common/KakaoLoginButton.tsx
  web_frontend/src/components/seniorExercise/ExerciseList.tsx
  web_frontend/src/components/seniorExercise/ExercisePopUp.tsx
  web_frontend/src/components/seniorPill/PillAddModal.tsx
  web_frontend/src/components/seniorPill/SeniorMainNoPill.tsx
  web_frontend/src/components/seniorPill/SeniorMainPill.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/LoginPage.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMainPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorModifyPage.tsx
  web_frontend/src/pages/SeniorMypage.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillDetailPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 💅 design, frontend

#185 [Frontend/SeniorSummary] 주간, 일간 보고서 문구 및 버그 수정
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: 🧹 chore, fix, bug

#189 [Backend/SeniorMypage] 시니어 마이페이지 연결 보호자 확인 api + 보호자 뷰에서 복약정보 조회기능 추가
  backend/server/src/main/java/capstone/server/domain/user/controller/UserGuardianController.java
  backend/server/src/main/java/capstone/server/domain/user/controller/UserWardController.java
  backend/server/src/main/java/capstone/server/domain/user/dto/ConnectedGuardian.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserWardRepository.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserWardServiceImpl.java
Labels: ✨ feat, backend

#191 [Frontend/SeniorSummary] 시니어 주간 보고서 게이지 바 추가 , 음식 메인 디테일 팝업 추가
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 💅 design, frontend

#193 [Backend] 지금까지짠 코드 리팩토링
  backend/server/src/main/java/capstone/server/domain/calendar/controller/CalendarController.java
  backend/server/src/main/java/capstone/server/domain/calendar/service/CalendarServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/food/controller/FoodController.java
  backend/server/src/main/java/capstone/server/domain/food/service/FoodServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineService.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/user/controller/UserWardController.java
Labels: 🧹 chore, backend

#195 [Backend] MedicineService API상수 final 지정관련 버그수정
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
Labels: backend, bug

#198 [Frontend/SeniorMyPage] 시니어 마이페이지 등록되어있는 보호자 확인 기능 추가
  web_frontend/src/components/seniorExercise/ExercisePopUp.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/atom.tsx
  web_frontend/src/pages/SeniorCheckGuardian.tsx
  web_frontend/src/pages/SeniorMypage.tsx
Labels: ✨ feat, 💅 design, frontend

#200 [fix] 이메일 값 null 또는 blank일시 안보내도록 처리
  backend/server/src/main/java/capstone/server/domain/notification/service/NotificationServiceImpl.java
Labels: fix, backend

#203 [Backend/Calender] 보호자 뷰에서 캘린더 데이터 API 추가
  backend/server/src/main/java/capstone/server/domain/user/controller/UserGuardianController.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianService.java
  backend/server/src/main/java/capstone/server/domain/user/service/UserGuardianServiceImpl.java
Labels: ✨ feat, backend

#202 [Frontend/SEO] 검색엔진최적화 작업
  package.json
  web_frontend/public/favicon.ico
  web_frontend/public/favicon2.ico
  web_frontend/public/index.html
  web_frontend/public/robots.txt
  web_frontend/public/sitemap.xml
  web_frontend/src/index.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/LoginPage.tsx
  web_frontend/src/pages/SeniorExerciseAddPage.tsx
  web_frontend/src/pages/SeniorExericseMainPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMainPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorModifyPage.tsx
  web_frontend/src/pages/SeniorMypage.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillDetailPage.tsx
  web_frontend/src/pages/SeniorPillMainPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
  web_frontend/src/pages/SeniorSummaryDailyPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
  web_frontend/src/pages/SplashPage.tsx
  yarn.lock
Labels: ✨ feat, frontend

#206 [Backend] @RequestParam을 @PathVariable로 등록해서 오류발생한 버그수정
  backend/server/src/main/java/capstone/server/domain/user/controller/UserGuardianController.java
Labels: fix, backend, bug

#212 [Frontend/Advice] 보고서 GPT api를 이용한 총평 수정
  web_frontend/src/components/seniorSummary/Advice.tsx
Labels: 🧹 chore, ✨ feat

#214 [Frontend/GuardianMain] 보호자 메인 화면 시니어 추가 및 삭제 기능 구현
  web_frontend/src/components/common/Loading.tsx
  web_frontend/src/components/seniorSummary/Advice.tsx
  web_frontend/src/components/seniorSummary/CalChart.tsx
  web_frontend/src/core/api/index.ts
  web_frontend/src/pages/GuardianMainPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
Labels: ✨ feat, 🎨 style, frontend

#216 [Frontend/GuardianMain] 보호자 메인 화면 문구 수정
  web_frontend/src/pages/SeniorMainPage.tsx
Labels: 🧹 chore, 💅 design

#218 [feat] React-Native Init 및 개발 완료
  app_frontend/.gitignore
  app_frontend/App.jsx
  app_frontend/MyWebView.js
  app_frontend/WebView.ts
  app_frontend/app.json
  app_frontend/assets/adaptive-icon.png
  app_frontend/assets/favicon.png
  app_frontend/assets/icon.png
  app_frontend/assets/splash.png
  app_frontend/babel.config.js
  app_frontend/eas.json
  app_frontend/package-lock.json
  app_frontend/package.json
  app_frontend/tsconfig.json
  app_frontend/yarn.lock
Labels: ✨ feat, frontend

#220 [frontend/Ref] 시연 전 최종 QA 및 수정, 에러 픽스
  web_frontend/src/pages/SeniorMealCheckPage.tsx
  web_frontend/src/pages/SeniorMealMain.tsx
  web_frontend/src/pages/SeniorPillBillAddPage.tsx
  web_frontend/src/pages/SeniorPillSelfAddPage.tsx
Labels: fix, bug
