Repository kookmin-sw/capstone-2023-11, pull requests merged in 2023-03, with the labels that each got.

#5 [design] SeniorMain UI 스타일링
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/core/router.tsx
Labels: 🎨 style, 💅 design

#6 [design] seniorSchedule UI를 위한 스타일링
  web_frontend/src/components/seniorSchedule/TodoItem.tsx
  web_frontend/src/components/seniorSchedule/TodoList.tsx
  web_frontend/src/components/seniorSchedule/TodoMain.tsx
  web_frontend/src/components/seniorSchedule/seniorSchedule.tsx
  web_frontend/src/core/router.tsx
Labels: 🎨 style, 💅 design

#7 [feat/design] 시니어 마이페이지 뷰 및 기능 구현
  web_frontend/package.json
  web_frontend/src/assets/icons/fill.svg
  web_frontend/src/assets/images/img_avatar.png
  web_frontend/src/assets/images/img_right.png
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorMypage.tsx
  web_frontend/yarn.lock
Labels: ✨ feat, 💅 design

#24 [Backend/feat] medicalHistoryCategory Entity 구현, userWard와 매핑
  backend/server/src/main/java/capstone/server/entity/MedicalHistoryCategory.java
  backend/server/src/main/java/capstone/server/entity/MedicalHistoryUserWardHas.java
Labels: ✨ feat, backend

#25 [Backend/feat] userGuardianuserWardEach 엔티티 구현
  backend/server/src/main/java/capstone/server/entity/UserGuardianUserWard.java
Labels: ✨ feat, backend

#29 [Frontend/SeniorSummary] 알고리즘으로 분석받는 시니어 신체 데이터 뷰, 기능 구현
  web_frontend/src/assets/images/img_left.png
  web_frontend/src/components/SeniorMain.tsx
  web_frontend/src/components/common/BackButton.tsx
  web_frontend/src/components/common/BlueButton.tsx
  web_frontend/src/components/seniorSummary/CalChart.tsx
  web_frontend/src/components/seniorSummary/NutrientChart.tsx
  web_frontend/src/components/seniorSummary/ScoreChart.tsx
  web_frontend/src/components/seniorSummary/testData.tsx
  web_frontend/src/core/router.tsx
  web_frontend/src/pages/SeniorMypage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
Labels: ✨ feat, 🎨 style, frontend

#36 [Backend/feat] JWT 로그인 회원가입, 시작시 병명태그 동기화 기능 개발
  backend/server/build.gradle
  backend/server/src/main/java/capstone/server/config/AuthenticationConfig.java
  backend/server/src/main/java/capstone/server/config/JwtFilter.java
  backend/server/src/main/java/capstone/server/domain/login/controller/JoinController.java
  backend/server/src/main/java/capstone/server/domain/login/controller/LoginController.java
  backend/server/src/main/java/capstone/server/domain/login/dto/GuardianJoinRequest.java
  backend/server/src/main/java/capstone/server/domain/login/dto/KaKaoAccountIdAndUserType.java
  backend/server/src/main/java/capstone/server/domain/login/dto/KakaoAccount.java
  backend/server/src/main/java/capstone/server/domain/login/dto/KakaoTokenCheckRequest.java
  backend/server/src/main/java/capstone/server/domain/login/dto/KakaoTokenCheckResponse.java
  backend/server/src/main/java/capstone/server/domain/login/dto/KakaoUserInfoRes.java
  backend/server/src/main/java/capstone/server/domain/login/dto/Profile.java
  backend/server/src/main/java/capstone/server/domain/login/dto/WardJoinRequest.java
  backend/server/src/main/java/capstone/server/domain/login/enums/GenderType.java
  backend/server/src/main/java/capstone/server/domain/login/enums/MedicalCategory.java
  backend/server/src/main/java/capstone/server/domain/login/exception/CustomAuthenticationEntryPoint.java
  backend/server/src/main/java/capstone/server/domain/login/exception/ExceptionCode.java
  backend/server/src/main/java/capstone/server/domain/login/exception/ExceptionManager.java
  backend/server/src/main/java/capstone/server/domain/login/service/JoinService.java
  backend/server/src/main/java/capstone/server/domain/login/service/JoinServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/login/service/LoginService.java
  backend/server/src/main/java/capstone/server/domain/login/service/LoginServiceImpl.java
  backend/server/src/main/java/capstone/server/domain/medical/repository/MedicalCategoryRepository.java
  backend/server/src/main/java/capstone/server/domain/medical/repository/MedicalHistoryUserWardHasRepository.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserGuardianRepository.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserGuardianUserWardRepository.java
  backend/server/src/main/java/capstone/server/domain/user/repository/UserWardRepository.java
  backend/server/src/main/java/capstone/server/entity/MedicalHistoryCategory.java
  backend/server/src/main/java/capstone/server/entity/MedicalHistoryUserWardHas.java
  backend/server/src/main/java/capstone/server/entity/UserGuardian.java
  backend/server/src/main/java/capstone/server/entity/UserGuardianUserWard.java
  backend/server/src/main/java/capstone/server/entity/UserWard.java
  backend/server/src/main/java/capstone/server/global/MedicalCategoryCommandLineRunner.java
  backend/server/src/main/java/capstone/server/sample/controller/TestController.java
  backend/server/src/main/java/capstone/server/utils/JwtUtil.java
  backend/server/src/main/java/capstone/server/utils/KaKaoUtil.java
  backend/server/src/main/java/capstone/server/utils/UserType.java
Labels: ✨ feat, backend

#39 [Backend/Medicine] 약 관련 API에 Authorization 적용
  backend/server/src/main/java/capstone/server/domain/medicine/controller/MedicineController.java
  backend/server/src/main/java/capstone/server/domain/medicine/dto/RegisterMedicineDto.java
  backend/server/src/main/java/capstone/server/domain/medicine/dto/RegisterMedicineRequestDto.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineService.java
  backend/server/src/main/java/capstone/server/domain/medicine/service/MedicineServiceImpl.java
  backend/server/src/main/java/capstone/server/entity/Medicine.java
  backend/server/src/test/java/capstone/server/domain/medicine/controller/MedicineControllerTest.java
Labels: fix, backend

#42 [Backend] json 패키지 임포트 수정
  backend/server/src/main/java/capstone/server/domain/login/exception/CustomAuthenticationEntryPoint.java
  backend/server/src/test/java/capstone/server/domain/medicine/controller/MedicineControllerTest.java
Labels: backend, bug

#46 [feat] ErrorResponse 공통 사용 Dto 구현
  backend/server/src/main/java/capstone/server/global/dto/ErrorResponse.java
Labels: ✨ feat, backend

#47 Back/#40
  backend/server/src/main/java/capstone/server/domain/login/exception/DuplicateUserException.java
  backend/server/src/main/java/capstone/server/domain/login/exception/ExceptionManager.java
  backend/server/src/main/java/capstone/server/domain/login/service/JoinServiceImpl.java
  backend/server/src/main/java/capstone/server/global/dto/ErrorResponse.java
Labels: backend, bug

#49 [Frontend/KakaoLogin] jwt 토큰 관리, 보호자,노인 카카오 로그인 및 회원가입 로직 뷰 구현
  web_frontend/.gitignore
  web_frontend/src/assets/icons/icn_grandfather.svg
  web_frontend/src/assets/icons/icn_grandmother.svg
  web_frontend/src/assets/icons/icn_guardian.svg
  web_frontend/src/assets/icons/icn_kakao.svg
  web_frontend/src/assets/icons/icn_kakaoLogin.svg
  web_frontend/src/assets/icons/icn_radio.svg
  web_frontend/src/assets/icons/icn_radioUnclicked.svg
  web_frontend/src/assets/icons/icn_senior.svg
  web_frontend/src/assets/icons/index.ts
  web_frontend/src/assets/images/img_kakao.png
  web_frontend/src/assets/images/img_logo.png
  web_frontend/src/components/common/BackButton.tsx
  web_frontend/src/components/common/KakaoLoginButton.tsx
  web_frontend/src/constants/domain.ts
  web_frontend/src/core/api/.keep
  web_frontend/src/core/api/index.ts
  web_frontend/src/core/router.tsx
  web_frontend/src/custom.d.ts
  web_frontend/src/index.tsx
  web_frontend/src/pages/GuardianJoinPage.tsx
  web_frontend/src/pages/KakaoAuthPage.tsx
  web_frontend/src/pages/LoginPage.tsx
  web_frontend/src/pages/SeniorJoinPage.tsx
  web_frontend/src/pages/SeniorSummaryPage.tsx
  web_frontend/tsconfig.json
Labels: 🗂 asset, ✨ feat, 💅 design, frontend

#56 [Backend/fix] CORS 재설정
  backend/server/src/main/java/capstone/server/config/WebConfig.java
Labels: backend, bug
